#start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  color: #000000;
  text-align: center;
}

.app-name {
  font-size: 2em;
  font-family: 'Your Game Font', sans-serif;
  margin-bottom: 20px;
}

.game-description {
  font-size: 1em;
  margin-bottom: 30px;
}

.start-button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-button:hover {
  transform: scale(1.1);
  background-color: #333;
  transition:
    transform 0.5s ease,
    background-color 0.3s ease;
}

.start-button:active {
  transform: scale(1);
  background-color: #555;
  transition: transform 1s ease;
}

.greeting {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1em;
  color: #000000;
  text-align: center;
  margin-top: 20px;
  padding-left: 20px;
}
