.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    outline: 3px solid black;
    width: fit-content;
}

table {
    border-spacing: 0px;
}

.verthintscont{
    outline: 2px solid black;
}

#gameField {
    color: transparent;
    outline: 2px solid black;

}

#gameField td {
    border: 1px solid black;
}

td {
    height: 60px;
    width: 60px;
    text-align: center;
    vertical-align: middle;
}

td.filled {
    background-color: black;
}

td.empty {
    background-color: white;
}

#horizontalHints{
    outline: 2px solid black;
}

#horizontalHints td {
    width: 20%; 
    border-bottom: none;
    border-left: 2px solid black;
    text-align: center;
    vertical-align: middle;
}

#horizontalHints tr{
    border: 2px solid black;
}

#verticalHints td {
    height: 20%;
    height: 60px; 
    border-top: 3px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}

.table__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
}

#verticalHints {
    display: flex;
    width: 60px;
    /*border: white;*/
    margin-right: 63px;
    margin-top: 120px;
}

#verticalHints tr {
    display: flex;
    flex-flow: column;
    border-bottom: none;
    vertical-align: middle;
}

