#sentence-container {
  display: flex;
  width: 743px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

/* .word {
  background-color: cadetblue;
  border-radius: 5px;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
} */

.word:hover {
  background-color: rgb(80, 173, 42);
}

#main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#result-block {
  background-color: rgb(232, 232, 232);
  display: flex;
  border-radius: 5px;
  width: 743px;
  height: 39px;
  order: 11;

  justify-content: space-between;
}

#next-sentence-button {
  margin-top: -43px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  order: 2;
  visibility: hidden;
  height: 45px;
}

#check-sentence-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  order: 1;
}

#next-sentence-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

#check-sentence-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

#auto-complete-button {
  margin-bottom: 15px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: rgb(107, 71, 161);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#translation {
  margin-bottom: 40px;
}

#completed-sentences-container {
  display: flex;
  flex-wrap: wrap;
  width: 743px;
  height: 430px;
  background-color: aquamarine;
  align-content: flex-start;
  margin-bottom: 20px;
}

.sentence-line {
  display: flex;
  width: 743px;
  height: fit-content;
  justify-content: space-between;
}

.word {
  background-color: rgba(9, 40, 11, 0.452);
  /* padding: 10px; */
  /* margin: 0 5px; */
  cursor: pointer;

  /* width: 148px; */
  /* width: fit-content; */
  height: 43px !important;
  /* background: url('middletransparent.png') no-repeat; */

  background-size: 100% 100%;
  mask: url('middle.png') no-repeat;
  mask-size: 100% 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: -14px; */
  border: 1px solid black
  /* padding-right: 14px; */
}

.last-word {
  /* background: url('endtransparent.png') no-repeat;
  background-size: 100% 100%; */

  mask: url('end.png') no-repeat;
  mask-size: 100% 100%;
}

.first-word {
  /* background: url('starttransparent.png') no-repeat;
  background-size: 100% 100%; */
  mask: url('start.png') no-repeat;
  mask-size: 100% 100%;
}

/* .few-words {
  width: 200px !important;
}

.five-words {
  width: 200px !important;
} */

.wordPlaceholder {
  width: fit-content;
  background-color:rgba(224, 120, 45, 0.215);
  height: 43px;
  min-width: 30px;
}

.resultPlaceholder {
  width: fit-content;
  background-color: rgb(207, 213, 32);
  height: 43px;
  min-width: 30px;
  order: 11;
}

.not-droppable {
  background-color: darkblue;
}