#sentence-container {
  display: flex;
}

.word {
  background-color: cadetblue;
  border-radius: 5px;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.word:hover {
  background-color: rgb(80, 173, 42);
}

#main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}

#result-block {
  background-color: rgb(232, 232, 232);
  display: flex;
  border-radius: 5px;
}
