#sentence-container {
  display: flex;
  width: 743px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

/* .word {
  background-color: cadetblue;
  border-radius: 5px;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
} */

.word:hover {
  background-color: rgba(9, 40, 11, 0.5)
}

#main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 743px;
  margin: 0 auto;
}

#result-block {
  background-color: rgb(232, 232, 232);
  display: flex;
  width: 743px;
  height: 43px;
  order: 11;

  justify-content: space-between;
}

#next-sentence-button {
  margin-top: -43px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  order: 2;
  visibility: hidden;
  height: 45px;
}

#check-sentence-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  order: 1;
}

#next-sentence-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

#check-sentence-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

#auto-complete-button {
  margin-bottom: 15px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: rgb(107, 71, 161);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#translation {
  margin-bottom: 20px;
}

#toggle-translation-button{
  border-radius: 5px;
  background-color: rgb(156, 150, 253);
  color: white;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#numberSelect{
  margin-bottom: 10px;
  width: 133px;
}

#completed-sentences-container {
  display: flex;
  flex-wrap: wrap;
  width: 743px;
  height: 445px;
  background-color: aquamarine;
  align-content: flex-start;
  margin-bottom: 20px;
  outline: 1px solid black;
}

/* #completed-sentences-container::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.5);
 z-index: 1; 
} */

.sentence-line {
  display: flex;
  width: 743px;
  height: fit-content;
  justify-content: space-between;
}

.sentence-line .word {
  color: white;
  flex-grow: 1;
}

.word {
  background-color: rgba(9, 40, 11, 0.3);
  /* padding: 10px; */
  /* margin: 0 5px; */
  cursor: pointer;

  /* width: 148px; */
  /* width: fit-content; */
  height: 43px !important;
  /* background: url('middletransparent.png') no-repeat; */

  background-size: 100% 100%;
  mask: url('middle.png') no-repeat;
  mask-size: 100% 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: -14px; */
  border: 1px solid black;
  /* padding-right: 14px; */
}

.last-word {
  /* background: url('endtransparent.png') no-repeat;
  background-size: 100% 100%; */

  mask: url('end.png') no-repeat;
  mask-size: 100% 100%;
}

.first-word {
  /* background: url('starttransparent.png') no-repeat;
  background-size: 100% 100%; */
  mask: url('start.png') no-repeat;
  mask-size: 100% 100%;
}

/* .few-words {
  width: 200px !important;
}

.five-words {
  width: 200px !important;
} */

.wordPlaceholder {
  width: fit-content;
  background-color: rgba(224, 120, 45, 0.215);
  height: 43px;
  min-width: 30px;
}

.resultPlaceholder {
  width: fit-content;
  background-color: rgb(207, 213, 32);
  height: 43px;
  min-width: 30px;
  order: 11;
}

.not-droppable {
  background-color: darkblue;
}

.alpha {
  width: 100%;
  height: 100%;
  background-color: white;
  order: 12;
}

.sentence-line .word:hover {
  background-color: rgba(9, 40, 11, 0.3);
}

/* Стили для модального окна */
.modal {
 display: hidden; 
 position: fixed; 
 z-index: 1; 
 padding-top: 100px;
 width: 100%;
 height: 100%;
 background-color: white
}

.modal-content{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0 100px;
  border-radius: 40px;
  background-color: rgb(237, 237, 212);
}

.close{
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.unknown{
  color: rgb(95, 15, 15);
}

.known{
  color: rgb(26, 70, 26);
}

@media (max-width: 849px) {
  #completed-sentences-container {
    width: 646px;
  }

  .sentence-line {
    width: 646px;
  }

  #sentence-container {
    width: 646px;
  }

  #result-block {
    width: 646px;
  }
}
